body {
	font-family:Helvetica, Arial, sans-serif;
	text-align:justify;
	line-height:1.5em;
	margin:0;
}

ul.horizontal {
	margin: 0;
	padding: 0;
}

ul.horizontal li {
	display:block;
	float:left;
	padding: 0 10px;
}

li{
 list-style: none;
 }
 
nav {
 text-align: center;
 }
 
nav ul {
 display: inline-block;
 margin: 0;
 padding: 0;
 /* Para IE 7*/
 zoom:1;
 *display: inline;
 }
 
nav li {
 float: left;
 padding: 2px 5px;
 border: 1px solid #ffc60b;
 background-color:#ffc60b;
 margin: 20px;
 border-radius: 1px;
 }
 
nav li a{
 text-decoration: none;
 color: #000;
 cursor: pointer;
 font-weight: bold;
 margin-top: 1em;
 }
 
nav li a:hover{
 color: #fa8b09;
 }

.content {
	font-size:30px;
	font-weight:700;
	color:#ffc60b;
	text-align:center;
	padding:10px;
	background-color:#000000;
		
}



